# Maven projects
target/

# IntelliJ
/.idea
*.iml

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs

# Maven wrapper jar
.mvn/wrapper/*.jar

# Generated readthedocs pages
build-docs/
Outputs/
Slack_info/
data/
test_active_power_RTE/
knitro.log
PathToCsv.csv
PathToCsv_optim_info.csv
30-voltage-perturbation.xiidm
NetworkProvidersalldata.java
ResilientAcLoadFlowPerturbationTestAlldata.java
_pycache_/