name: CI

on:
  push:
    branches:
      - 'main'
      - 'release-v**'
      - 'full-sonar-analysis-**'
  pull_request:

jobs:
  build:
    name: Build OS ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Install Knitro (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          wget -nv -O knitro.tar.gz --user "$KNITRO_DOWNLOAD_USER" --password "$KNITRO_DOWNLOAD_PASSWORD" "$KNITRO_LINUX_URL"
          mkdir -p $RUNNER_TEMP/knitro
          tar xzf knitro.tar.gz -C $RUNNER_TEMP/knitro
          echo "KNITRODIR=$RUNNER_TEMP/knitro/knitro-15.1.0-Linux64" >> "$GITHUB_ENV"
        env:
          KNITRO_DOWNLOAD_USER: ${{ secrets.KNITRO_DOWNLOAD_USER }}
          KNITRO_DOWNLOAD_PASSWORD: ${{ secrets.KNITRO_DOWNLOAD_PASSWORD }}
          KNITRO_LINUX_URL: ${{ secrets.KNITRO_15_LINUX_URL }}

      - name: Install Knitro (Windows)
        if: matrix.os == 'windows-latest'
        shell: powershell
        run: |
          C:\msys64\usr\bin\wget.exe -nv -O knitro.zip --user "$env:KNITRO_DOWNLOAD_USER" --password "$env:KNITRO_DOWNLOAD_PASSWORD" "$env:KNITRO_WINDOWS_URL"
          7z x -y knitro.zip -oC:\knitro
          echo "KNITRODIR=C:\knitro\knitro-15.1.0-Win64" >> "$env:GITHUB_ENV"
        env:
          KNITRO_DOWNLOAD_USER: ${{ secrets.KNITRO_DOWNLOAD_USER }}
          KNITRO_DOWNLOAD_PASSWORD: ${{ secrets.KNITRO_DOWNLOAD_PASSWORD }}
          KNITRO_WINDOWS_URL: ${{ secrets.KNITRO_15_WINDOWS_URL }}


      - name: Install Knitro (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          wget -nv -O knitro.tar.gz --user "$KNITRO_DOWNLOAD_USER" --password "$KNITRO_DOWNLOAD_PASSWORD" "$KNITRO_MACOS_URL"
          mkdir -p /opt/knitro
          tar xzf knitro.tar.gz -C /opt/knitro
          echo "KNITRODIR=/opt/knitro/knitro-15.1.0-ARM-MacOS" >> "$GITHUB_ENV"
        env:
          KNITRO_DOWNLOAD_USER: ${{ secrets.KNITRO_DOWNLOAD_USER }}
          KNITRO_DOWNLOAD_PASSWORD: ${{ secrets.KNITRO_DOWNLOAD_PASSWORD }}
          KNITRO_MACOS_URL: ${{ secrets.KNITRO_15_MACOS_URL }}

      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven (Ubuntu and macOS)
        if: matrix.os != 'windows-latest'
        run: |
          ./mvnw install:install-file -Dfile="$KNITRODIR/examples/Java/lib/Knitro-Interfaces-2.5-KN_15.1.0.jar" -DgroupId=com.artelys -DartifactId=knitro-interfaces -Dversion=15.1.0 -Dpackaging=jar -DgeneratePom=true
          ./mvnw --batch-mode -Pjacoco install
        env:
          ARTELYS_LICENSE: ${{ secrets.KNITRO_15_ARTELYS_LICENSE }}

      - name: Build with Maven (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          call mvnw.cmd install:install-file -Dfile="%KNITRODIR%\examples\Java\lib\Knitro-Interfaces-2.5-KN_15.1.0.jar" -DgroupId=com.artelys -DartifactId=knitro-interfaces -Dversion=15.1.0 -Dpackaging=jar -DgeneratePom=true
          mvnw.cmd --batch-mode install
        shell: cmd
        env:
          ARTELYS_LICENSE: ${{ secrets.KNITRO_15_ARTELYS_LICENSE }}

      - name: Run SonarCloud analysis
        if: matrix.os == 'ubuntu-latest'
        run: >
          ./mvnw --batch-mode -DskipTests sonar:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=powsybl-ci-github
          -Dsonar.projectKey=com.powsybl:powsybl-open-loadflow-knitro-solver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
